* {
    box-sizing: border-box;
}

// html {
//     line-height: 1.6;
//     // color: $clr2;
// }
    
body {
    // max-width: 1300px;
    margin: 0 auto;
    // margin-inline-start: 60px;
    // margin-inline-end: 60px;

    // margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: rem(18px);
    color: gray;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.6em;
}

img {
    display: block;
    // max-width: 100%;
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}

svg , label{
    cursor: pointer;
}

@font-face {
    font-family: "DomaineDisplay";
    src: url("/frontend-react/src/fonts/DomaineDisplay/TestDomaineDisplay-RegularItalic.otf");
}

@font-face {
    font-family: "Macan";
    src: url('/frontend-react/src/fonts/Macan/MacanPanWeb-Regular.ttf');
}

