
.gig-details-container {
    display: grid;
    grid-template-columns: 57.4% 9% 33.6%;
    height: 100%;
    width: 100%;
    position: relative;

    align-items: flex-start;
    
}

.about-gig {
    font-family: "Macan-regular";
}
