.signup-form {

	padding: 1em;

	input,
	button {
		padding: 5px;
		font-size: 16px;
		border-radius: 6px;
		border: 1px solid $border-color;
		background-color: #fff;
	}

	button {
		background-color: #007bff;
		color: #fff;
		transition: background-color 0.3s;
		width: 100%
	}
}

.signup-form {
	input {
		width: 100%;
	}

	.admin-toggle {
		display: flex;
		align-items: center;
		justify-self: start;

		span {
			font-size: .8em;
		}
	}
}

.login-page nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2em;

	margin-block: 100px 0.5em;

	a {
		font-size: 0.8em;
		color: $clr4;

		&:hover {
			color: $clr1;
		}
	}

	a.active {
		text-decoration: underline;
		color: $clr2;
	}
}