.orders-container {
  grid-column: 2/3;
  margin-bottom: 3em;
}
.order-above{
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-container {

  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Table styles */
.table {
  background-color: white;
  border-collapse: collapse;
  border: 1px solid #dadbdd;
  width: 100%;
}

/* Each row in the table */
.table-row {
  display: table-row;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  font-size: medium;
 

}

/* Header row, to differentiate from data rows */
.table-row.header {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Individual header cells */
.table-header {
  color: #7a7d85;
  padding: 0.5em 0.5em;
  white-space: nowrap;

}

/* Individual table cells */
.table-cell {
  padding: 0.5em 0.5em;
  display: table-cell;
  white-space: nowrap;
  text-indent: initial;
  white-space: normal;      /* Allow text to wrap */
  overflow: hidden;         /* Hide any overflow content */
  text-overflow: ellipsis;  /* Add ellipsis if the text is too long */
  line-height: 1.4;         /* Adjust line height for better readability */
  word-wrap: break-word;

  


  span {
    width: 100px;
    text-align: center;
    color: #fff;
    padding: .125rem 1.3125rem;
    border-radius: .5rem;
    white-space: nowrap;
    min-width: 6.25rem;

  }
}

.pending {
  background-color: #c37e10d7;
}

.fulfill {
  background-color: #19a463;
}

.rejected {
  background-color: brown;
}

/* Seller cell */
.table-cell.seller {
  display: flex;
  justify-content: start;
  align-items: center;
}

/* Seller image style */
.seller-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.seller-container,
.name-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.order-img {
  width: 15%;
  height: 80%;
}

/* Pending status styling */







.table-row:hover {
  background-color: #f1f1f1;
}



.view-buttons {
  display: flex;
  gap: 5px;
}

.view-buttons button {
  display: flex;
  justify-content: center;
  background: none;
  width: 40px;
  height: 30px;
  border-radius: 8px;
}

.view-buttons button img {
  border-radius: 8px;
}

.card-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 2.5em;


}

.card-container {
  background-color: gray;
}

.order-card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 5px;
  padding: 1.875rem;
  margin-block-end: .3125rem;
  background-color: #fff;
}

.card-row{
  padding: 1em 0 1em 0;
  border-bottom: 1px solid #dadbdd
}

.progress-bar {
  width: 100%;
  background-color: #ccc;
  height: .75rem;
  border-radius: 10px;
  overflow: hidden;
  margin-block-start: .5rem;
}

.progress-line {
  width: 25px;
  background-color: #c37e10d7;
  height: 100%;
}

.card-pending {
  color: #c37e10d7;
}

.card-fulfill {
  color: #19a463;
}

.card-rejected {
  color: brown;
}

.card-row.body{
  display: flex;
  gap: 5px;
}

.body-text p{
  margin-bottom: 0;
}

.last{
  text-align: end;

}

.table-header.last{
padding-right: 1em;
}














