.user-profile-container {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    gap: 3.125rem;
}

.user-card {
    border: 1px solid #dadbdd;
    padding: 1.875rem;
    margin-block-start: 3.125rem;
    min-width: 300px;
    width: 25rem;
    font-size: .875rem;
    line-height: 130%;
    color: #62646a;
    background-color: white;
}

.user-profile-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #404145;
    // font-size: .875rem;
}

.manage-orders {
    width: 100%;
}

.manage-orders-header {
    margin-block-start: 3.125rem;
    color: #404145;
}

.orders-table {
    border-collapse: collapse;
    border: 1px solid #dadbdd;
    width: 100%;
}

.orders-table thead {
    border: inherit;
}

.orders-table thead td {
    padding: 10px;
    padding-inline-start: 20px;
}

.orders-table tbody {
    border: inherit;
}

.orders-table tbody tr {
    border: inherit;
}

.orders-table tbody tr:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.orders-table tbody td {
    padding:  1.25rem;
}

.user-with-img {
    display: flex;
    align-items: center;
    // color: #404145;
}

.user-with-img img {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    margin-inline-end: 10px;
}

.user-img {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #404145;
    margin-block-end: 15px;
}

.user-img img {
    width: 9.375rem;
    height: 9.375rem;
}

.user-profile-label .fullname {
    font-weight: 700;
    color: #222325;
    font-size: 20px;
    line-height: 28px;
}

.user-profile-label {
    border-bottom: 1px solid #dadbdd;
}

.user-profile-label .username {
    font-size: 16px;
    line-height: 24px;
    color: #7a7d85;
    margin-block-end: 24px;
}

.user-stats-list li {
    display: flex;
    justify-content: space-between;
    padding-block-start: 20px;
}

.user-stats-list li .loc,  .user-stats-list li .date{
    font-weight: bold;
}

.order-title{
    display: flex;
    align-items: center;
}

.order-status {
    display: flex;
    min-height: 5em;
    align-items: center;
    gap: .3125rem;
    justify-content: space-between;
    letter-spacing: .2px;
}

.label {
    text-align: center;
    padding: .125rem .3125rem;
    border-radius: .5rem;
    word-spacing: nowrap;
    min-width: 6.25rem;
    color: white;
}

.Fulfilled {
    background-color: #19a462;
}

.Pending {
    background-color: #c37e10d7;
}

.Rejected {
    background-color: #4a4b50;
}