.app-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 3.5rem;

    padding: rem(10px) 1rem;
    background-color: white;
    border-top: 1px solid gray;
    margin-top: 2em;

    .left-footer{
        display: flex;
        gap: 1em;

        .second-line{
            font-size: medium;
        }

    }

    .right-footer-svgs{
        display: flex;
        gap: 2em;
    }


    p {
        margin: 0;
    }
    
    span {
        font-size: .8em;
        
        &.local-services {
            color: $clr1;
        }
        
        &.remote-services {
            color: $clr5;
        }
    }
}