.gig-filter {
    gap: 0 .5em;
    padding: .5em;
    color: red;
    position: relative;

    .search-svg {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 3.2em;
        height: 2.8em;
        
        border: 10px solid black;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        
        background-color: black;
        fill: white;

        position: absolute;
        top: 13%;
        right: 0%;
    }


    h3 {
        grid-column: 1 / -1;
        font-size: rem(14px);
        margin: 0;
    }

    & :not(h3) {
        cursor: pointer;
    }

    .filter-input {
        color: red;
    }

    input:is([type="text"], [type="number"]) {
        width: 35em;
        height: 2.8em;
        color: gray;
        border: 1px solid #c0bcbc;
        border-radius: 5px;
        font-size: medium;
        padding: 15px;

        &:focus {
            outline: none;
            background-color: $gray1;
        }
    }


    .btn-clear {
        grid-column: 4;
    }

    .sort-field,
    .sort-dir {
        display: flex;
        align-items: center;
        gap: 1em;

        // margin-inline-start: .4em;

        font-size: .8em;
    }

    .sort-dir {
        grid-column: 2 / 3;
    }

    input[type="radio"] {
        display: none;
    }

    label {
        span {
            font-size: .9em;
            padding: 0.1em 0.3em;
            outline: 1px solid $gray1;
        }

        &:has(:checked) span {
            background-color: $clr3;
            color: $gray1;
        }
    }
}