.gig-preview {
    a {
        color: $clr4;
        padding: 0;
    }    
	p {
		margin-block: 0 0.2rem;
        font-size: .85em;
	}
}


.preview {
  font-family: 'Macan', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  font-size: 17px; 

  /* Gig Image */
  .gig-image {
    width: 100%;
    height: 200px; 
    border-radius: 5px; 
    overflow: hidden;
    margin-bottom: 15px; 
  }

  .gig-img {
    width: 100%;
    height: 100%;
    object-fit: cover; // Ensure the image covers the container area
  }

  /* Gig Info Section */
  .gig-info {
    display: flex;
    flex-direction: column; // Stack the info vertically

    /* Owner Info */
    .owner-info {
      display: flex;
      justify-content: space-between; // Space between owner level and name

      .owner-level {
        font-weight: bold; // Bold the owner level
        color: #2c3e50; // Dark color for level
      }

     .topRated{
      text-align: center;
      width: 100px;
      height: 20px;
      border-radius: 5px;
      background-color: #f3c987;
     }

      .owner-name {
        font-weight: bold; // Normal font weight for owner name
        color: #2c3e50; // Dark color for name
      }
    }

    /* Gig Title */
    .gig-title {
      font-size: 18px; // Larger size for the title
      color: #2c3e50; // Dark color for the title
    }

    /* Rating */
    .gig-rate {
      font-size: 17px; // Smaller size for the rating
      font-weight: bold;
      color: #121110; // Gold color for stars
      margin-bottom: 10px; // Add space below the rating

      .ratesNum{
        font-weight:normal;
        color: gray;
      }
    }

    /* Price */
    .gig-price {
      font-size: 16px; // Price in regular font size
      font-weight: bold; // Bold price
      color: rgb(52, 51, 51);
    }
  }
}
