.gig-preview {
  a {
    color: $clr4;
    padding: 0;
  }

  p {
    margin-block: 0 0.2rem;
    font-size: .85em;
  }
}

.preview {
  font-family: 'Macan', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;

  .gig-image-box {
    height: 180px;
    margin-bottom: 10px;
    position: relative;

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: aliceblue;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      cursor: pointer;
      border: none;
      position: absolute;
      transform: translateY(-50%) translateX(-100%);
      color: white;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    }

    .prev-btn {
      right: 85%;
      top: 50%;
      transform: translateY(-50%) translateX(-100%);
    }

    .next-btn {
      left: 85%;
      top: 50%;
      transform: translateY(-50%) translateX(100%);
    }

    &:hover .prev-btn {
      transform: translateY(-50%) translateX(0);
      opacity: 1;
      visibility: visible;
    }

    &:hover .next-btn {
      transform: translateY(-50%) translateX(0);
      opacity: 1;
      visibility: visible;
    }

    .gig-img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  svg {
    margin-left: 2px;
  }

  .gig-info {
    display: flex;
    flex-direction: column;

    .owner-info {
      display: flex;

      .ad-by {
        flex-grow: 3;
      }

      .owner-img {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        margin-right: 5px;
      }

      .owner-level {
        font-weight: bold;
        color: #2c3e50;
      }

      .topRated {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        font-family: sans-serif;
        width: 120px;
        height: 20px;
        border-radius: 5px;
        background-color: #f3c987;
        color: #121110;
      }

      .owner-name {
        font-weight: bold;
        color: #2c3e50;
      }
    }

    .gig-title {
      font-size: 18px;
      color: #2c3e50;
    }

    .gig-rate {
      font-size: 17px;
      font-weight: bold;
      color: #121110;
      margin-bottom: 10px;

      .ratesNum {
        font-weight: normal;
        color: gray;
      }
    }

    .gig-price {
      font-size: 16px;
      font-weight: bold;
      color: rgb(52, 51, 51);
    }
  }

  // Points Carousel Styling
  .points {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 85%;
    right:45%;
    
    .point {
      cursor: pointer;
      transition: fill 0.3s ease;

      &.active {
        fill: white; // Highlighted point color
      }

      circle {
        transition: fill 0.1s ease;
      }
    }
  }
}
